body{
    background: rgb(224, 173, 224);
    
    font: italic 15pt Arial;
}
div{
    border-radius: 15px;
    
}
button{
    border-radius: 25pt;
    box-shadow: black 5px 5px 5px;
    font: italic 20pt Arial;
}
input{border-radius: 20pt;
    font: normal 20pt Arial;
    box-shadow: black 5px 5px 5px;
    text-align: center;

}